/* HEADER */

header {
  height: 72px;
  box-shadow: 0 0 10px rgba(36, 46, 48, 0.25);
  background-color: white;
  z-index: 5000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.deverando-box {
  display: flex;
  align-items: center;
}
.arrow-left {
  height: 16px;
  margin-right: 8px;
}
.deverando-logo {
  height: 32px;
  margin-right: 4px;
}
.deverando-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-orange);
}
.menu {
  font-weight: 700;
}
.header-navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.language-setting {
  width: 24px;
  height: 24px;
}
.germany-dott {
  height: 24px;
  aspect-ratio: 1 / 1;
}
.burger-menu-box {
  height: 20px;
  aspect-ratio: 1.2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
}
.burger-menu-bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-fontColor);
  border-radius: 1px;
}

/* MAIN #####################################################################*/

main {
  display: flex;
}
/* Food header - info - navbar */
.food-container {
  flex: 1;
  flex-direction: column;
  background-color: var(--color-lightGray);
  position: relative;
  padding-bottom: 1rem;
}
.food-wrapper {
  padding: 0 16px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.wallpaper-box {
  height: 480px;
  position: relative;
}
.logo-container {
  position: absolute;
  height: 480px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.logo-box {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: var(--color-logoBackground);
  bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nyc-bites-logo {
  width: 80%;
  height: auto;
}
.wallpaper {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.food-header-info {
  height: 240px;
  width: 100%;
  background-color: var(--color-lightGray);
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.companay-name {
  font-size: 2rem;
  font-weight: 700;
}
.company-rating {
  display: flex;
  align-items: center;
}
.company-rating-star {
  height: 1rem;
  margin-right: 0.5rem;
}
.discount-description-box {
  background-color: rgb(246, 194, 67);
  height: 110px;
  width: 360px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
}

.food-header-navbar {
  height: 100px;
  display: flex;
  align-items: flex-end;
  transition: all 0.05s ease-in-out;
  position: sticky;
  top: 0;
}
.food-header-navbar-sticky {
  box-shadow: 0 0 10px rgba(36, 46, 48, 0.25);
  background-color: white;
}
.food-header-navbar-links-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}
.food-navbar-link {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: white;
}
.food-navbar-link:hover {
  background-color: var(--color-midGray);
  cursor: pointer;
}
.food-navbar-link:focus {
  background-color: black;
  font-weight: 700;
  color: white;
}

/* food-content-container*/

.food-content-background {
  display: flex;
  justify-content: center;
  background-color: var(--color-lightGray);
}
.food-content-container {
  padding-top: 1rem;
}
.food-content-image {
  height: 152px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.food-content-categorie {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* food-content-render-box */

.dishes-Container {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid rgba(36, 46, 48, 0.2);
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.dishes-container-upper-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dishes-name {
  font-weight: 700;
  font-size: 1.25rem;
}
.dishes-add-button {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(36, 46, 48, 0.2);
  border-radius: 50%;
  color: var(--color-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  background-color: white;
  transition: all 0.15s ease-in-out;
  user-select: none;
}
.dishes-add-button:hover {
  background-color: var(--color-midGray);
}

.dishes-container-lower-part {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
}
.dishes-text-box {
  padding-right: 1rem;
  padding-top: 0.5rem;
  min-height: 120px;
}
.dishes-description {
  margin-bottom: 0.5rem;
}
.dishes-single-price {
  font-weight: 700;
  font-size: 1.25rem;
}
.dishes-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* FOOTER ############################################################################## */

footer {
  height: 120px;
  background-color: var(--color-footerGray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-button {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.counter-button:hover {
  background-color: black;
  color: white;
}
