.basket-wrapper {
  padding: 0 16px;
}

.basket-container {
  width: 360px;
  background-color: white;
  box-shadow: 0 0 10px rgba(36, 46, 48, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}
.basket-box-fixed {
  position: fixed;
  right: 0;
  top: 0;
  margin-bottom: 120px;
}
.basket-box {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 100%;
  max-height: 100vh;
  background-color: white;
}
.basket-box-upper {
  background-color: white;
}
.basket-box-upper h1 {
  padding-top: 24px;
  text-align: center;
}

/* delivery switcher */
.delivery-switcher {
  height: 64px;
  margin: 12px 0 8px 0;
  padding: 8px 0;
  background-color: var(--color-midGray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2rem;
}
.button-delivery-background {
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: calc(50% - 2px);
  border-radius: 2rem;
  position: absolute;
  left: 2px;
  transition: all 0.15s ease-in-out;
  z-index: 500;
}
.button-takeaway-background {
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: calc(50% - 2px);
  border-radius: 2rem;
  position: absolute;
  right: 2px;
  transition: all 0.15s ease-in-out;
  z-index: 500;
}
.delivery-slider {
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: calc(50% - 2px);
  border-radius: 2rem;
  background-color: white;
  box-shadow: 3px 1px 5px rgba(36, 46, 48, 0.2);
  position: absolute;
  left: 2px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.deliveryIcons {
  height: 18px;
  width: auto;
}
.button-delivery {
  cursor: pointer;
  font-size: 0.85rem;
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: calc(50% - 2px);
  border-radius: 2rem;
  position: absolute;
  left: 2px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  gap: 0.5rem;
}
.button-delivery:hover + .button-delivery-background {
  background-color: rgb(224, 224, 224);
}
.button-takeaway {
  background-color: transparent;
  cursor: pointer;
  font-size: 0.85rem;
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: calc(50% - 2px);
  border-radius: 2rem;
  position: absolute;
  z-index: 2000;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  gap: 0.5rem;
}
.button-takeaway:hover + .button-takeaway-background {
  background-color: rgb(224, 224, 224);
}

.basket-box-render-content {
  overflow-y: auto;
}
.basket-box-lower {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.basket-box-lower div {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}
.total-amount {
  font-weight: 700;
}
.pay-button {
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--color-payButtonOrange);
  color: white;
  width: 100%;
  border-radius: 2rem;
  padding: 12px 0;
  margin-top: 13px;
  border: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.pay-button:hover {
  background-color: var(--color-payButtonOrangeHovered);
}

.basketDishesBox {
  padding: 16px 0 16px 0;
  border-top: 1px solid var(--color-midGray);
}
.basket-dishes-title {
  font-weight: 700;
  margin-bottom: 1rem;
}
.basket-dishes-action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket-dishes-counter-box {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.basket-delete-dishes-button {
  border: none;
  background-color: white;
}
.trashcan-icon {
  height: 20px;
}

/* empty basket dialog */

.emptyBasketDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  user-select: none;
}
.emptyBasketIcon {
  height: 40px;
  width: auto;
  margin-bottom: 1.5rem;
}
.empteBasketTextFillYourBasket {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.emptyBasketText {
  text-align: center;
  line-height: 1.5rem;
}

/* order ready dialog */

.order-ready-dialog {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  background-color: white;
  z-index: 3000;
  transition: all 0.3s ease-in-out;
  display: flex;
}
#orderReadyDialog {
  padding: 0;
}

/* responsive basket */

.responsive-basket {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: -94%;
  bottom: 0;
  background-color: aqua;
  z-index: 6000;
  transition: all 0.45s ease-in-out;
}
.resp-basket-head-title {
  color: white;
  background-color: var(--color-payButtonOrange);
  height: 6%;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.resp-basket-head-title:hover {
  background-color: var(--color-payButtonOrangeHovered);
}
.resp-basket-head-icon {
  height: 32px;
  width: auto;
}
