.basket-container {
  width: 360px;
  background-color: white;
  box-shadow: 0 0 10px rgba(36, 46, 48, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}
.basketBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  position: sticky;
  top: 0;
  min-height: calc(100vh - 120px);
  max-height: 100vh;
}
.basket-box-upper {
  background-color: white;
  height: 100px;
}
.basket-box-middle {
  background-color: yellow;
  overflow-y: auto;
  flex: 1;
}
.basket-box-lower {
  background-color: red;
  height: 100px;
}
