:root {
  --color-orange: rgb(255, 128, 0);
  --color-payButtonOrange: rgb(240, 104, 20);
  --color-payButtonOrangeHovered: rgb(241, 93, 0);
  --color-lightOrange: rgb(254, 229, 203);
  --color-lightGray: rgb(252, 252, 252);
  --color-midGray: rgb(235, 233, 232);
  --color-footerGray: rgb(239, 237, 234);
  --color-fontColor: rgb(36, 46, 48);
  --color-basketBlue: rgb(0, 105, 218);
  --color-yellow: rgb(246, 194, 67);
  --color-logoBackground: rgb(245, 245, 245);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  scroll-behavior: smooth;
}

body {
  /* position: relative; */
  min-height: 100vh;
  font-size: 1rem;
  color: var(--color-fontColor);
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1440px; 
  margin-left: auto;
  margin-right: auto; 
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-top-100 {
  margin-top: 100px;
}

.d-none {
  display: none;
}

.font-bold {
  font-weight: 700;
}

.transform-slider {
  transform: translateX(100%);
  box-shadow: -3px 1px 5px rgba(36, 46, 48, 0.2);
}

.transform-order-ready-dialog {
  transform: translateX(100%);
}