:root {
  --color-orange: rgb(255, 128, 0);
  --color-lightOrange: rgb(254, 229, 203);
  --color-lightGray: rgb(245, 243, 241);
  --color-midGray: rgb(235, 233, 232);
  --color-fontColor: rgb(36, 46, 48);
  --color-basketBlue: rgb(0, 105, 218);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "montserrat";
  color: var(--color-fontColor);
}